@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-search {
  display: none;
}

.spinner {
  img {
    width: 70px;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: loading-spinner 2s linear infinite;
    z-index: 400;
  }
}

.spinner-upload {
  img {
    width: 70px;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: loading-spinner 2s linear infinite;
    z-index: 400;
  }
}
